.pjlistcontainer {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;

}
.span {
    text-align: left;
}
.projectLink {
    text-align: right;
    display: inline-block;
    color: #008CBA;
    cursor: pointer;
   }