  .form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 100px;
  }
  .input::placeholder {
    color: #aaa;
  }
  
  .div {
    margin-bottom: 15px;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button {
    width: 280px;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    background-color: #AEBDCA;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #97a4af;
  }
  
  .logodiv {
    display:flex;
    align-items: center;
    margin: 0 auto 15px;
    margin-top: 20px;
   }
   .logo {
    width: 80px;
    margin-right:10px;
   }
   .logoText {
    font-size: 30px;
    font-weight: bold;
    color: #AEBDCA;
   }
   .gologin{
    margin-top: 7px;
    font-size: 10px;
    align-items: center;
   }
   .loginLink {
    margin-left: 10px;
    display: inline-block;
    color: #008CBA;
    cursor: pointer;
   }