.containeruser {
    display: fex;
    flex-direction: coulm;
    position: absolute;
    left: 3%;
    margin: 0 auto;
}
.containerlist {
    display: fex;
    flex-direction: coulm;
    position:absolute;
    right: 3%;
    margin: 0 auto;
}
.usercircle {
   margin-top: 15%;
   margin-bottom: 5px;
}
