.timeline-all{
    padding:20px;
    height: calc(100vh - 140px);
}

.timeline-container {
    position: relative;
    display: flex;
    height: 100%;
    overflow:hidden;
    border: 1px solid #000; /* 바깥선 추가 (두께: 2px, 색상: 검정) */
    border-radius: 8px; /* 테두리를 둥글게 하고 싶다면 추가 */
}

.topbar {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    height:50px;
    justify-content: space-between;
}

.userGrop {
    position: relative;
    display: flex;
}

.userIcon {
    margin-left: -15px;
    background-color: #fff;
    border-radius: 50%;
}

.userShow {
    margin-left: -15px;
    background-color:#fff;
    border-radius: 50%;
    border: 1px solid #000;
    font-size: 15px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.sidebar {
    display:flex;
    padding: 30px;
    background-color: #C9CCD2;
    height:100%;
    flex-direction: column;
    flex: 0 0 20%;
}

.blank{
    margin-top:25px;
    margin-bottom:25px;
    border-bottom:1px solid #000;
}

.sideEpic {
    padding-bottom: 50px; 
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 0;
    flex-grow: 1;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.4);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 6px;
    }
}

.sideButton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    padding-top:10px;
}

.epic-item {
    width: 90%;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 10%;
    border-color: #000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.epic-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.epic-title1 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right:10px;
    flex-grow: 1;
}
.sprint-title {
    display: flex;
    font-size: 20px;
    left:0;
    margin-top: 15px;
    margin-left:15px;
}

.epic-title2 {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    left:0;
    margin: 15px;
}

.progress-bar {
    border: 1px solid #969696;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4caf50;
}
  
.timeline-area {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.timeline {
    min-width: 1200px;
    width: 100%;
    height: 100%;
}

.epicModaltitle {
    align-items: 'flex-start';
}

.add {
    cursor: pointer;
    font-size: 20px; 
    flex-shrink: 0; 
    width: 24px; 
    height: 24px; 
    margin-bottom: 20px;
  }

.close {
    position: absolute;
    right:0;
    cursor: pointer;
    font-size: 20px;
    flex-shrink: 0;
    width: 24px; 
    height: 24px; 
    margin: 10px;
}

.edit-title {
    cursor: pointer;
    margin:2px;
}

.issueContainer {
    height:auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #969696;
    margin: 0 20px;
}

.issueList {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-bottom : 1px solid #969696;
}

.issueAdd {
    height: 40px;
    display: flex;
    padding-top: 5px;
    margin-left: 5px;
}

.issueStatus {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  
  .issueStatus.to-do {
    background-color: #d3d3d3; /* 회색 */
    color: #000; /* 검정색 */
  }
  
  .issueStatus.in-progress {
    background-color: #4a90e2; /* 파란색 */
  }
  
  .issueStatus.done {
    background-color: #a8e6a2; /* 연한 초록색 */
    color: #000; /* 검정색 */
  }
  
  .issueStatus.hold {
    background-color: #f5a623; /* 주황색 */
    color: #000; /* 검정색 */
  }
  